* {
    box-sizing: border-box;
}

:root {
}

html {
    font-size: 62.5%;
}

body {
    background: #fff;
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "DM Sans", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 62px;
    height: var(--height);
    min-width: 170px;
    display: inline-flex;
    align-self: center;
    justify-content: center;
    color: #fdfdfd;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: var(--height);
    background: #5d3bee;
    transition: 0.25s;
}

.btn:hover {
    opacity: 0.8;
}

.section__heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.18; /* 117.857% */
    letter-spacing: -2.24px;
}

.section__desc {
    color: #51586a;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.title {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -1.28px;
}

@mixin flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    padding: 20px 0;
    background: #fbfaff;
    .container {
        width: 1330px;
    }

    .reps-logo,
    .memoji-boy__resp {
        display: none;
    }

    &__navbar {
        display: flex;
        align-items: center;
    }
    .logo {
        display: flex;
        align-items: center;

        &-text {
            color: #080415;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 30px;
            margin-left: 10px;
            text-decoration-line: underline;
        }
    }
    .memoji-boy {
        margin-left: 357px;
    }

    .memoji-boy__reponsive {
        display: none;
    }

    .navbar {
        margin-left: auto;

        &-list {
            display: flex;
            align-items: center;

            .navbar-item {
                color: #51586a;
                font-size: 1.8rem;
                font-weight: 400;
                padding: 0 22px;
                transition: color 0.25s;
                &:hover {
                    color: #000958;
                    text-shadow: 1px 0 0 currentColor;
                }
            }
        }
    }
}

.hero {
    margin-top: 24px;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__image {
        position: relative;
        width: 44%;
        height: 705px;
    }

    &__img {
        position: absolute;
        display: block;
        width: 514px;
        height: 705px;
        object-fit: cover;
        top: 0;
        left: 0;
    }

    &__img-decor {
        display: block;
        position: absolute;
        top: -80px;
        left: -214px;
        z-index: -1;
    }

    &__content {
        margin-top: 100px;
        position: relative;

        .hero__heading {
            width: 500px;
            color: #080415;
            font-size: 8rem;
            font-weight: 500;
            line-height: 0.95; /* 95% */
            letter-spacing: -3.2px;
        }

        .hero__desc {
            width: 370px;
            color: #51586a;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.67; /* 166.667% */
            margin-top: 20px;
        }

        .hero__cta {
            display: flex;
            align-items: center;
            margin-top: 50px;

            &-text {
                color: #080415;
                font-size: 1.8rem;
                font-weight: 700;
                line-height: 1.67; /* 166.667% */
                text-decoration-line: underline;
                margin-left: 30px;
            }
        }

        .hero__social {
            display: flex;
            align-items: center;
            margin-top: 104px;

            &-text {
                color: #51586a;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.87; /* 187.5% */
                margin-right: 15px;
            }
        }

        &-decor {
            position: absolute;
            bottom: -43px;
            right: -168.5px;
        }
    }
}

.client {
    margin-top: 98px;

    &__inner {
        display: flex;
        align-items: center;
    }

    &__heading {
        position: relative;
        width: 253px;
        color: #080415;
        font-size: 4.2rem;
        font-weight: 500;
        line-height: 1.19; /* 119.048% */
        letter-spacing: -1.68px;
        margin-left: 99px;

        &::before {
            position: absolute;
            content: "";
            width: 86px;
            height: 2px;
            background: #5d3bee;
            top: 22px;
            left: -99px;
        }
    }

    &-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 34px;
        margin-left: 105px;

        .client-item {
            display: flex;
            align-items: center;

            .warner-bros {
                @include flexcenter();
                width: 36px;
                height: 36px;
                border-radius: 50%;
            }

            &__icon {
                margin-right: 13px;
            }

            &__name {
                color: #080415;
                font-size: 1.5rem;
                font-weight: 700;
            }
        }
    }
}

.service {
    margin-top: 132px;

    &__heading {
        text-align: center;
    }

    &__desc {
        display: block;
        width: 534px;
        margin: 20px auto 0;
    }

    &-list {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    &-item {
        padding: 33px 42px 33px;
        background: #fbfaff;
        transition: 0.25s;
        &:hover {
            text-shadow: 1px 0 0 currentColor;
            background: #e9e9ee;
        }

        &__title {
            margin-top: 22px;
        }

        &__info {
            width: 285px;
            color: #51586a;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.67; /* 166.667% */
            margin-top: 15px;
        }
    }
}

.work {
    margin-top: 140px;
    background: #5d3bee;

    &__inner {
        padding: 86px 0;
    }

    &-header {
        display: flex;
    }

    &__heading {
        width: 468px;
        color: #fff;
    }

    &__desc {
        width: 370px;
        color: #fff;
        text-align: left;
        margin: 31px 0 0 160px;
        opacity: 0.7;
    }

    &-list {
        margin-top: 70px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

        .work-item {
            padding: 23px 23px 23px 34px;
            background: #fbfaff;
            display: flex;
            align-items: center;

            &__info {
                color: #51586a;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.44; /* 143.75% */
                margin-top: 10px;
            }

            &__link {
                color: #080415;
                font-size: 1.8rem;
                font-weight: 700;
                line-height: 1.67; /* 166.667% */
                text-decoration-line: underline;
                margin-top: 20px;
            }
        }
    }

    &-action {
        @include flexcenter();
        margin-top: 80px;

        &__btn {
            background: #fff;
            color: #080415;
        }
    }
}

.about {
    position: relative;
    background: #fbfaff;
    margin-top: 140px;
    padding-bottom: 74px;

    .about-decor1 {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .about-decor2 {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &__hello {
        @include flexcenter();

        & span {
            color: #5d3bee;
            font-size: 3.2rem;
            font-weight: 500;
            line-height: 1.25; /* 125% */
            letter-spacing: -1.28px;
        }

        & img {
            margin-left: 9px;
        }
    }

    &__heading {
        text-align: center;
        margin-top: 10px;
    }

    &__desc {
        display: block;
        width: 570px;
        text-align: center;
        margin: 15px auto 0;
    }

    .border {
        display: block;
        width: 946px;
        height: 1px;
        background: #080415;
        margin: 70px auto 0;
        opacity: 0.2;

        &--bottom {
            margin: 20px auto 0;
        }
    }

    &__data {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .data {
            &-num {
                color: #080415;
                font-size: 5.6rem;
                font-weight: 500;
                line-height: 1.36; /* 135.714% */
                letter-spacing: 1.68px;
                text-decoration-line: underline;
            }

            &-text {
                color: #51586a;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.67; /* 166.667% */
            }
        }
    }

    &__video {
        position: relative;
        width: 100%;
        padding-top: 53.67%;
        margin-top: 70px;

        & video {
            position: absolute;
            top: 0;
            left: 0;
        }

        & img {
            position: absolute;
            top: 259px;
            left: 530px;
        }

        &-intro {
            @include flexcenter();
            position: absolute;
            width: 170px;
            height: 62px;
            background: #fff;
            color: #51586a;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.67; /* 166.667% */
            text-transform: uppercase;
            bottom: 10px;
            right: 10px;
        }
    }

    &__people {
        margin-top: 150px;

        .blockquote {
            display: block;
            width: 679px;
            color: #51586a;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.67; /* 166.667% */
            margin: 60px auto 0;
        }

        .writer {
            @include flexcenter();
            margin-top: 36px;

            &-avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;

                & img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            &-name {
                color: #080415;
                text-align: center;
                font-size: 3rem;
                font-weight: 500;
                line-height: 1.33; /* 133.333% */
                margin-left: 15px;
            }
        }

        .job {
            color: #51586a;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.81; /* 181.25% */
            margin-top: 3px;
        }

        .dots {
            width: 144px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 40px auto 0;

            .dot {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #080415;
                opacity: 0.2;

                &.active {
                    background: #5d3bee;
                    opacity: 1;
                    border: 3px solid #fff;
                    outline: 1px solid #5d3bee;
                }
            }
        }
    }
}

.faq {
    margin-top: 95px;

    .container {
        width: 1010px;
    }

    &__heading {
        width: 575px;
    }

    &-list {
        margin-top: 80px;

        .faq-item {
            position: relative;
            max-width: 100%;
            margin-top: 60px;
            cursor: pointer;
            // border-bottom: 2px solid #08182f;
            // padding-bottom: 33px;

            &:first-child {
                margin-top: 0;
            }

            .question {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                h3 {
                    color: #080415;
                    font-size: 3.2rem;
                    font-weight: 500;
                    line-height: 1.25; /* 125% */
                    letter-spacing: -1.28px;
                    margin-bottom: 23px;
                    transition: color 1.2s ease-in-out;
                }
            }

            svg {
                color: #161a1c;
                position: absolute;
                top: 12px;
                right: 0;
                transition: transform 1.2s ease-in-out, color 1.2s ease-in-out;
            }

            .answer {
                max-height: 0;
                overflow: hidden;
                transition: max-height 1.2s ease-in-out;

                p {
                    width: 487px;
                    color: #51586a;
                    font-size: 1.8rem;
                    font-weight: 400;
                    line-height: 1.67; /* 166.667% */
                    margin-top: 10px;
                }
            }

            .faq-border {
                width: 100%;
                height: 2px;
                background: #08182f;
                margin-top: 11px;
                transition: transform 1.2s ease-in-out,
                    background-color 1.2s ease-in-out;
            }

            &.active h3 {
                color: #5d3bee;
            }

            &.active .faq-border {
                transform: translateY(10px);
                background-color: #5d3bee;
            }

            &.active svg {
                color: #5d3bee;
                transform: translate(0, 25px);
            }

            &.active .answer {
                max-height: 300px;
                animation: fade 1s ease-in-out;
            }

            &.active .svg-gone {
                display: none;
            }
        }
    }
}

.gallery {
    margin-top: 160px;

    &__heading {
        text-align: center;
    }

    &__desc {
        display: block;
        width: 528px;
        margin: 20px auto 0;
    }

    .interaction {
        @include flexcenter();
        margin-top: 30px;

        .gallery-link {
            color: #5d3bee;
            font-size: 3.2rem;
            font-weight: 500;
            line-height: 1.25; /* 125% */
            letter-spacing: -1.28px;
            text-decoration-line: underline;
        }
    }

    &-list {
        margin-top: 70px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    &-item {
        display: block;
        width: 370px;
        cursor: pointer;
        overflow: hidden;

        & img {
            width: 100%;
            height: 529px;
            object-fit: cover;
            transition: 0.25s;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

.talk {
    margin-top: 140px;

    .container {
        width: 1330px;
    }

    &__inner {
        width: 100%;
        height: 488px;
        position: relative;
        background: #fbfaff;
        padding: 68px 0;
        overflow: hidden;
    }

    .cheer-icon {
        @include flexcenter();
    }

    &__heading {
        text-align: center;
    }

    &__desc {
        width: 570px;
        display: block;
        margin: 20px auto 0;
    }

    &-cta {
        @include flexcenter();
        margin-top: 40px;
        position: absolute;
        z-index: 1;
        right: 580px;
    }

    &-decor1 {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    &-decor2 {
        position: absolute;
        top: 0;
        right: 0;
    }

    &-decor3 {
        position: absolute;
        top: 0;
        right: 246px;
    }
}

.footer {
    margin-top: 50px;

    .container {
        width: 1429px;
    }

    &__inner {
        padding: 0 50px;
    }
    &__navbar {
        display: flex;
        align-items: center;
    }
    .logo {
        display: flex;
        align-items: center;

        &-text {
            color: #080415;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 30px;
            margin-left: 10px;
            text-decoration-line: underline;
        }
    }
    .memoji-boy {
        margin-left: 357px;
    }

    .navbar {
        margin-left: auto;

        &-list {
            display: flex;
            align-items: center;

            .navbar-item {
                color: #51586a;
                font-size: 1.8rem;
                font-weight: 400;
                padding: 0 22px;
                transition: color 0.25s;
                &:hover {
                    color: #000958;
                    text-shadow: 1px 0 0 currentColor;
                }
            }
        }
    }

    .footer-border {
        width: 100%;
        height: 1px;
        background: #0c0720;
        opacity: 0.2;
        margin-top: 32px;
    }

    &-bottom {
        display: flex;
        align-items: center;
        padding: 18px 80px 30px;

        .all-reserved {
            color: #525771;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.67; /* 166.667% */
        }

        .footer-bottom__wrap {
            position: relative;
            display: flex;
            align-items: center;
            margin-left: auto;

            .policy,
            .condition {
                color: #525771;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.67; /* 166.667% */
                letter-spacing: -0.54px;
            }

            .policy:hover,
            .condition:hover {
                text-decoration: underline;
            }

            .footer-bottom__border {
                width: 1px;
                height: 14px;
                background: #525771;
                opacity: 0.6;
                margin-right: 13px;
            }

            .policy {
                margin-right: 23px;
            }
        }
    }
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
