/* PC */
/* Tablet and Mobile */
/* Tablet */
/* Mobile */
@media screen and (max-width: 767px) {
  .header__navbar {
    justify-content: space-between;
    border-bottom: 1px solid #d6d3e2;
    padding-bottom: 15.5px;
  }
  .header__navbar .memoji-boy,
  .header__navbar .navbar,
  .header__navbar .logo {
    display: none;
  }
  .header__navbar .reps-logo,
  .header__navbar .memoji-boy__resp {
    display: block;
  }
  .header__navbar .reps-logo {
    margin-left: 251px;
  }
  .header__navbar .toggle-menu {
    margin-left: auto;
  }
  .header__navbar .toggle-menu .menu {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid rgba(93, 59, 238, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .header__navbar .toggle-menu .menu .line1,
  .header__navbar .toggle-menu .menu .line2 {
    height: 2px;
    width: 17px;
    background: #5d3bee;
    border-radius: 50px;
  }
  .header__navbar .toggle-menu .menu .line2 {
    margin-top: 4px;
  }
  .mobile-header {
    display: block;
  }
  .mobile-header .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: 0.5s ease;
  }
  .mobile-header .sidebar {
    position: fixed;
    inset: 0 60% 0 0;
    background: #fff;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s ease;
    padding: 20px;
  }
  .mobile-header .sidebar .logo {
    display: flex;
    align-items: center;
  }
  .mobile-header .sidebar .logo span {
    color: #080415;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.36; /* 136.364% */
    text-decoration-line: underline;
    margin-left: 10px;
    display: none;
  }
  .mobile-header .sidebar #sidebar-nav {
    margin-top: 20px;
  }
  .mobile-header .sidebar #sidebar-nav a {
    display: block;
    color: #51586a;
    font-size: 2.6rem;
    font-weight: 500;
    padding: 20px 0;
    transition: color 0.25s ease 0s;
  }
  .mobile-header .menu-checkbox:checked ~ .overlay {
    opacity: 1;
    visibility: visible;
  }
  .mobile-header .menu-checkbox:checked ~ .sidebar {
    transform: translateX(0);
  }
  .hero__inner {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .hero__inner .hero__content {
    margin-top: 0;
  }
  .hero__inner .hero__content .hero__heading {
    width: 260px;
    color: #080415;
    font-size: 4.2rem;
    line-height: 1.19; /* 119.048% */
    letter-spacing: -1.68px;
  }
  .hero__inner .hero__content .hero__desc {
    width: 318px;
    font-size: 1.6rem;
    line-height: 1.62;
  }
  .hero__inner .hero__content .hero__cta {
    margin-top: 30px;
  }
  .hero__inner .hero__content .hero__cta .btn {
    --height: 55px;
    min-width: 147px;
  }
  .hero__inner .hero__content .hero__cta-text {
    margin-left: 40px;
  }
  .hero__inner .hero__content .hero__social {
    margin-top: 25px;
  }
  .hero__inner .hero__content .hero__social-text {
    font-size: 1.4rem;
    line-height: 1.43; /* 142.857% */
  }
  .hero__inner .hero__content-decor {
    display: none;
  }
  .hero__inner .hero__image {
    width: 100%;
    height: 355px;
    margin-top: 20px;
    overflow: hidden;
  }
  .hero__inner .hero__image .hero__img {
    width: 259px;
    height: 100%;
    margin-left: 53.5px;
    z-index: 1;
  }
  .hero__inner .hero__image .hero__img-decor {
    display: none;
  }
  .hero__inner .hero__image .hero__img-respdecor {
    display: block;
    position: absolute;
    top: -56px;
    left: -6px;
  }
  .client {
    margin-top: 120px;
  }
  .client__inner {
    flex-direction: column;
  }
  .client__heading {
    display: block;
    width: 169px;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.21; /* 121.429% */
    letter-spacing: -1.12px;
    margin-left: 0;
  }
  .client__heading::before {
    width: 48px;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
  }
  .client-list {
    grid-template-columns: repeat(2, 1fr);
    margin: 40px 0 0;
    gap: 36px;
  }
  .service {
    margin-top: 120px;
  }
  .service__heading {
    display: block;
    width: 181px;
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 1.16; /* 116.667% */
    letter-spacing: -1.44px;
    margin: 0 auto;
  }
  .service__desc {
    width: 350px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.62; /* 162.5% */
  }
}

/*# sourceMappingURL=responsive.css.map */
